/* Spysol stylesheet. */

@property --hue1 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 0;
}

@property --hue2 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 120;
}

:root {
    --hue1: 0;     /* red   */
    --hue2: 120;   /* green */
}

html {
    background-color: #090721;  /* A dark outer gutter. */
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 1024px;
}

.app-title {
    font-size: x-large;
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase;
}

noscript {
    display: block;
    margin: 1em auto;
}


/* Generic style components. */

.border   { border: 1px solid; }
.clearfix { clear: all; }
.right    { float: right; }
.rounded  { border-radius: 15px; }

.flex {
    display: flex;
    flex-direction: row;
}

.flex > * {
    margin-right: 40px;
}

.box {
    border: outset;
    margin: 20px;
    padding: 0.25em 1em;
}

details {
    margin: 0 5px;
}

details > div {
    margin: 10px 20px;
}

details h1 {
    background-color: lightGray;
    border: solid 1px;
    border-radius: 10px;
    font-size: large;
    padding: 0.5em;
}

input[type="number"] {
    width: 50px;
}

/* Page sections */

main {
    border: solid 1px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 10px;
}

div.won {
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    font-weight: bold;
    padding-left: 50px;
}


/* Card-related styles */

ol.row {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    height: 50px;
}

li.card {
    display: inline-block;
    font-family: serif;
    font-size: large;
    width: 30px;
    height: 30px;
    margin: auto 1px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    user-select: none;   /* Disable accidentally selecting text. */
}

li.card.suit1.rank1  { background-color: hsl(var(--hue1) 100% 85%); }
li.card.suit1.rank2  { background-color: hsl(var(--hue1) 100% 80%); }
li.card.suit1.rank3  { background-color: hsl(var(--hue1) 100% 75%); }
li.card.suit1.rank4  { background-color: hsl(var(--hue1) 100% 70%); }
li.card.suit1.rank5  { background-color: hsl(var(--hue1) 100% 65%); }
li.card.suit1.rank6  { background-color: hsl(var(--hue1) 100% 60%); }
li.card.suit1.rank7  { background-color: hsl(var(--hue1) 100% 55%); }
li.card.suit1.rank8  { background-color: hsl(var(--hue1) 100% 50%); }
li.card.suit1.rank9  { background-color: hsl(var(--hue1) 100% 45%); }
li.card.suit1.rank10 { background-color: hsl(var(--hue1) 100% 40%); }
li.card.suit1.rank11 { background-color: hsl(var(--hue1) 100% 35%); }
li.card.suit1.rank12 { background-color: hsl(var(--hue1) 100% 30%); }
li.card.suit1.rank13 { background-color: hsl(var(--hue1) 100% 25%); }

li.card.suit2.rank1  { background-color: hsl(var(--hue2) 100% 85%); }
li.card.suit2.rank2  { background-color: hsl(var(--hue2) 100% 80%); }
li.card.suit2.rank3  { background-color: hsl(var(--hue2) 100% 75%); }
li.card.suit2.rank4  { background-color: hsl(var(--hue2) 100% 70%); }
li.card.suit2.rank5  { background-color: hsl(var(--hue2) 100% 65%); }
li.card.suit2.rank6  { background-color: hsl(var(--hue2) 100% 60%); }
li.card.suit2.rank7  { background-color: hsl(var(--hue2) 100% 55%); }
li.card.suit2.rank8  { background-color: hsl(var(--hue2) 100% 50%); }
li.card.suit2.rank9  { background-color: hsl(var(--hue2) 100% 45%); }
li.card.suit2.rank10 { background-color: hsl(var(--hue2) 100% 40%); }
li.card.suit2.rank11 { background-color: hsl(var(--hue2) 100% 35%); }
li.card.suit2.rank12 { background-color: hsl(var(--hue2) 100% 30%); }
li.card.suit2.rank13 { background-color: hsl(var(--hue2) 100% 25%); }


li.card.promoting {
    font-size: x-large;
    font-weight: bold;
}


/* Foundation/Stock/Toolbar styles */

progress {
    /* width: 40em; */
}
