@font-face {
    font-family: "neaveill";
    src: url("neaveill-cards-and-dice.ttf");
}

/*
    Colors:
        black suit: black, bold
        red suit: red, bold
        black secondary: gray
        red secondary: salmon
        black selected: white on black background
        red selected: red on black background. (Green?)

/*

/* Default card style: traditional, black, vertical. */

.spy-card {
    color: black;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    display: inline-block;  /* To enforce width. */
    font-family: monospace;
    font-size: 40px;
    /* font-weight: bold; */
    /* padding: 4px; */
    text-align: center;
    width: 1.25em;
    /* width: 1.5em; */
    /* Width 2em for "10♣". */
}

.spy-red {
    color: red;
    background-color: white;
}

.spy-card[data-rank="1" ]::after { content: "A" ; }
.spy-card[data-rank="2" ]::after { content: "2" ; }
.spy-card[data-rank="3" ]::after { content: "3" ; }
.spy-card[data-rank="4" ]::after { content: "4" ; }
.spy-card[data-rank="5" ]::after { content: "5" ; }
.spy-card[data-rank="6" ]::after { content: "6" ; }
.spy-card[data-rank="7" ]::after { content: "7" ; }
.spy-card[data-rank="8" ]::after { content: "8" ; }
.spy-card[data-rank="9" ]::after { content: "9" ; }
.spy-card[data-rank="10"]::after { content: "10"; }
.spy-card[data-rank="11"]::after { content: "J" ; }
.spy-card[data-rank="12"]::after { content: "Q" ; }
.spy-card[data-rank="13"]::after { content: "K" ; }


/* Numeric data-deck. */

[data-deck="Numeric"] .spy-card {
    border: solid 1px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 40px;
    /* padding: 3px; */
}

[data-deck="Numeric"] .spy-card[data-rank="1" ]::after { content: "1"; }
[data-deck="Numeric"] .spy-card[data-rank="11"]::after { content: "11"; }
[data-deck="Numeric"] .spy-card[data-rank="12"]::after { content: "12"; }
[data-deck="Numeric"] .spy-card[data-rank="13"]::after { content: "13"; }


/* Compact data-deck. */

[data-deck="Compact"] .spy-card {
    border: solid 1px;
    border-radius: 5px;
    display: inline-block;   /* To enforce width. */
    font-family: monospace;
    font-size: 40px;
    padding: 3px;
    width: auto;
}

[data-deck="Compact"] .spy-card[data-rank="10"]::after { content: "T"; }


/* Neaveill data-deck. */

[data-deck="Neaveill"] .spy-card {
    font-family: neaveill;
    font-size: 60px;
    border: none;
    padding: 0;
}

[data-deck="Neaveill"] .spy-card[data-rank="1" ]::after { content: "n"; }
[data-deck="Neaveill"] .spy-card[data-rank="2" ]::after { content: "o"; }
[data-deck="Neaveill"] .spy-card[data-rank="3" ]::after { content: "p"; }
[data-deck="Neaveill"] .spy-card[data-rank="4" ]::after { content: "q"; }
[data-deck="Neaveill"] .spy-card[data-rank="5" ]::after { content: "r"; }
[data-deck="Neaveill"] .spy-card[data-rank="6" ]::after { content: "s"; }
[data-deck="Neaveill"] .spy-card[data-rank="7" ]::after { content: "t"; }
[data-deck="Neaveill"] .spy-card[data-rank="8" ]::after { content: "u"; }
[data-deck="Neaveill"] .spy-card[data-rank="9" ]::after { content: "v"; }
[data-deck="Neaveill"] .spy-card[data-rank="10"]::after { content: "w"; }
[data-deck="Neaveill"] .spy-card[data-rank="11"]::after { content: "x"; }
[data-deck="Neaveill"] .spy-card[data-rank="12"]::after { content: "y"; }
[data-deck="Neaveill"] .spy-card[data-rank="13"]::after { content: "z"; }

[data-deck="Neaveill"] .spy-card.spy-red[data-rank="1" ]::after { content: "N"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="2" ]::after { content: "O"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="3" ]::after { content: "P"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="4" ]::after { content: "Q"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="5" ]::after { content: "R"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="6" ]::after { content: "S"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="7" ]::after { content: "T"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="8" ]::after { content: "U"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="9" ]::after { content: "V"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="10"]::after { content: "W"; }
[data-deck="Neaveill"] .spy-card.spy-red[.spy-reddata-raata-red]::after { content: "X"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="12"]::after { content: "Y"; }
[data-deck="Neaveill"] .spy-card.spy-red[data-rank="13"]::after { content: "Z"; }


/* Unicode data-deck black suit. */

[data-deck="Unicode"] .spy-card {
    font-family: monospace;
    font-size: 40px;
    border: none;
    padding: 0;
    width: auto;
}

[data-deck="Unicode"] .spy-card[data-rank="1" ]::after
    { content: "\1F0D1"; } /* PLAYING CARD ACE OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="2" ]::after
    { content: "\1F0D2"; }  /* PLAYING CARD TWO OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="3" ]::after
    { content: "\1F0D3"; }  /* PLAYING CARD THREE OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="4" ]::after
    { content: "\1F0D4"; }  /* PLAYING CARD FOUR OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="5" ]::after
    { content: "\1F0D5"; }  /* PLAYING CARD FIVE OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="6" ]::after
    { content: "\1F0D6"; }  /* PLAYING CARD SIX OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="7" ]::after
    { content: "\1F0D7"; }  /* PLAYING CARD SEVEN OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="8" ]::after
    { content: "\1F0D8"; }  /* PLAYING CARD EIGHT OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="9" ]::after
    { content: "\1F0D8"; }  /* PLAYING CARD NINE OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="10"]::after
    { content: "\1F0DA"; }  /* PLAYING CARD TEN OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="11"]::after
    { content: "\1F0DB"; }  /* PLAYING CARD JACK OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="12"]::after
    { content: "\1F0DD"; }  /* PLAYING CARD QUEEN OF CLUBS. */
[data-deck="Unicode"] .spy-card[data-rank="13"]::after
    { content: "\1F0DE"; }  /* PLAYING CARD KING OF CLUBS. */


/* Unicode data-deck red suit */

[data-deck="Unicode"] .spy-card.spy-red[data-rank="1" ]::after
    { content: "\1F0B1"; }  /* PLAYING CARD ACE OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="2" ]::after
    { content: "\1F0B2"; }  /* PLAYING CARD TWO OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="3" ]::after
    { content: "\1F0B3"; }  /* PLAYING CARD THREE OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="4" ]::after
    { content: "\1F0B4"; }  /* PLAYING CARD FOUR OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="5" ]::after
    { content: "\1F0B5"; }  /* PLAYING CARD FIVE OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="6" ]::after
    { content: "\1F0B6"; }  /* PLAYING CARD SIX OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="7" ]::after
    { content: "\1F0B7"; }  /* PLAYING CARD SEVEN OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="8" ]::after
    { content: "\1F0B8"; }  /* PLAYING CARD EIGHT OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="9" ]::after
    { content: "\1F0B8"; }  /* PLAYING CARD NINE OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="10"]::after
    { content: "\1F0BA"; }  /* PLAYING CARD TEN OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="11"]::after
    { content: "\1F0BB"; }  /* PLAYING CARD JACK OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="12"]::after
    { content: "\1F0BD"; }  /* PLAYING CARD QUEEN OF HEARTS. */
[data-deck="Unicode"] .spy-card.spy-red[data-rank="13"]::after
    { content: "\1F0BE"; }  /* PLAYING CARD KING OF HEARTS. */
