/* Spysol stylesheet. */


/* Generic style components. */

.border   { border: 1px solid; }
.box      { border: 1px solid; }
.clearfix { clear: all; }
.right    { float: right; }
.round1  { border-radius: 10px; padding: 10px; }
.round2  { border-radius: 15px; padding: 15px;}

.middle   {
    margin-top: auto;
    margin-bottom: auto;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex > * {
    margin-right: 40px;
}

h1 {
    margin: 1em 0;
    text-align: left;
}


/* Page styles */

html {
    background-color: #090721;  /* A dark outer gutter. */
}

body {
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 1024px;
    /* min-height: 600px; */
}

.app-title {
    font-size: x-large;
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase;
}

noscript {
    display: block;
    margin: 1em auto;
}

h1 {
    font-size: large;
    margin: 10px;
    text-align: center;
}


/* Help section */

details {
    margin: 0 5px;
}

details > div {
    margin: 10px 20px;
}

details h1 {
    background-color: lightGray;
    border: solid 1px;
    border-radius: 10px;
    font-size: large;
    padding: 0.5em;
}

.help-box {
    background-color: white;
    color: black;
    border: outset;
    margin: 20px;
    padding: 0.25em 1em;
}

progress {
    /* width: 40em; */
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

div.won {
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    font-weight: bold;
    padding-left: 50px;
}


/* Card-related styles */

.tableau {
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #eeeeee;
    color: black;
    margin: 15px 0;
    min-height: 150px;
}

.card {
    display: inline-block;
    font-family: serif;
    font-size: 125px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    user-select: none;   /* Disable accidentally selecting text. */
}


.card.promoting {
    background-color: beige;
    font-weight: bold;
}
