/* Spysol stylesheet. */

@property --hue1 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 0;
}

@property --hue2 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 120;
}

:root {
    --hue1: 0;     /* red   */
    --hue2: 120;   /* green */
}

html {
    background-color: #090721;  /* A dark outer gutter. */
}

body {
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 1024px;
    min-height: 600px;
}

noscript {
    display: block;
    margin: 1em auto;
}


/* Help and details dropdowns. */

details {
    margin: 0 5px;
}

details > div.help {
    background-color: white;
    color: black;
    border: outset;
    font-size: medium;
    margin: 20px;
    padding: 0.25em 1em;
}


details h1 {
    font-size: x-large;
    margin: 5px 0;
}


/* Toolbar. */

nav {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: large;
}
