html {
    background-color: green;
    color: black;
}

body {
    width: 700px;
    padding: 10px 20px;
    background-color: white;
}

h1 {
    /*
    border-top: solid 2px;
    border-bottom: solid 2px;
    */
    background-color: #eeeeee;
    border: outset;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    border: solid 1px;
    margin-top: 1em;
    padding-left: 0.5em;
}

.instructions {
    font-style: italic;
}

.text-center {
    text-align: center;
}

section {
    /* Height 86px fits cards; ?px fits cards and button row */
    min-height: 86px;
    margin: 2em auto;
    padding: 1em;
    border: solid 1px;
}

.tile {
    /* font-size: 72px; */
    font-size: 48px;
}

table.details th, table.details td {
    border: solid 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
