/* Spysol stylesheet. */

@property --hue1 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 0;
}

@property --hue2 {
    syntax: "<integer>",
    inerits: false,
    initial-value: 120;
}

:root {
    --hue1: 0;     /* red   */
    --hue2: 120;   /* green */
}

.border {
    border: solid 1px;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 3px;
}

html {
    background-color: #090721;  /* A dark outer gutter. */
}

body {
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 1024px;
}

#board {
}

main {
    display: flex;
    min-height: 50vh;
}

#sidebar {
}

#tableau {
    flex-grow: 1;
}

#models {
}

#models > span {
    margin: 0 1em;
}

.model {
}



/* Help and dropdowns. */

details {
    margin: 0 5px;
}

details > div {
    margin: 10px 20px;
}

details h1 {
    background-color: lightGray;
    border: solid 1px;
    border-radius: 10px;
    font-size: large;
    padding: 0.5em;
}


.row {
    border: dotted;
    margin: 0.5em;
    height: 3em;
}


spy-card {
    background-color: white;  /* Overridden by card-specific background color below. */
    color: black;
}


/* Suit color gradients. */

spy-card[suit="1"][rank="1"]  { background-color: hsl(var(--hue1) 100% 85%); }
spy-card[suit="1"][rank="2"]  { background-color: hsl(var(--hue1) 100% 82%); }
spy-card[suit="1"][rank="3"]  { background-color: hsl(var(--hue1) 100% 79%); }
spy-card[suit="1"][rank="4"]  { background-color: hsl(var(--hue1) 100% 76%); }
spy-card[suit="1"][rank="5"]  { background-color: hsl(var(--hue1) 100% 73%); }
spy-card[suit="1"][rank="6"]  { background-color: hsl(var(--hue1) 100% 70%); }
spy-card[suit="1"][rank="7"]  { background-color: hsl(var(--hue1) 100% 67%); }
spy-card[suit="1"][rank="8"]  { background-color: hsl(var(--hue1) 100% 64%); }
spy-card[suit="1"][rank="9"]  { background-color: hsl(var(--hue1) 100% 61%); }
spy-card[suit="1"][rank="10"] { background-color: hsl(var(--hue1) 100% 58%); }
spy-card[suit="1"][rank="11"] { background-color: hsl(var(--hue1) 100% 55%); }
spy-card[suit="1"][rank="12"] { background-color: hsl(var(--hue1) 100% 52%); }
spy-card[suit="1"][rank="13"] { background-color: hsl(var(--hue1) 100% 49%); }

spy-card[suit="2"][rank="1"]  { background-color: hsl(var(--hue2) 100% 85%); }
spy-card[suit="2"][rank="2"]  { background-color: hsl(var(--hue2) 100% 82%); }
spy-card[suit="2"][rank="3"]  { background-color: hsl(var(--hue2) 100% 79%); }
spy-card[suit="2"][rank="4"]  { background-color: hsl(var(--hue2) 100% 76%); }
spy-card[suit="2"][rank="5"]  { background-color: hsl(var(--hue2) 100% 73%); }
spy-card[suit="2"][rank="6"]  { background-color: hsl(var(--hue2) 100% 70%); }
spy-card[suit="2"][rank="7"]  { background-color: hsl(var(--hue2) 100% 67%); }
spy-card[suit="2"][rank="8"]  { background-color: hsl(var(--hue2) 100% 64%); }
spy-card[suit="2"][rank="9"]  { background-color: hsl(var(--hue2) 100% 61%); }
spy-card[suit="2"][rank="10"] { background-color: hsl(var(--hue2) 100% 58%); }
spy-card[suit="2"][rank="11"] { background-color: hsl(var(--hue2) 100% 55%); }
spy-card[suit="2"][rank="12"] { background-color: hsl(var(--hue2) 100% 52%); }
spy-card[suit="2"][rank="13"] { background-color: hsl(var(--hue2) 100% 49%); }
